/* link  */
.link-cv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(15px);
  overflow: hidden;
}
.link-cv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
}
.link-cv:active {
  background: aqua;
}
/* button  */
.btn-cv {
  position: relative;
  width: 155px;
  height: 50px;
  margin: -20px -1px;
}
.btn-cv::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  width: 30px;
  height: 10px;
  background: aqua;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}
.btn-cv::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  width: 30px;
  height: 10px;
  background: aqua;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}

/* hover  */
.btn-cv:hover a {
  letter-spacing: 3px;
}
.btn-cv:hover a {
  color: black;
  transition-delay: 1s;
}
.btn-cv:hover a::before {
  transform: skewX(45deg) translateX(200%);
}
.btn-cv:hover::after {
  visibility: visible;
  opacity: 1;

  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}
.btn-cv:hover::before {
  visibility: visible;
  opacity: 1;

  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

/* responsive  */

@media (max-width: 768px) {
  .btn-cv {
    margin-left: 60px;
  }
}
@media (max-width: 700px) {
  .btn-cv {
    margin-left: 0px;
  }
}
